@import url('https://fonts.googleapis.com/css?family=Numans');

.about-page{
    background-image: url('../nyc-wallpaper3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}